* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

body {
    background-color: #068fc9;
    color: #fff;
}

.container {                    /*div principal*/
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;                  /*distancia entre elementos*/
}

main .display {
    width: 135px;
    height: 135px;
    border-radius: 60px;
    background-color: #fff;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .display span {
    color: #444;
    font-size: 4em;
    font-weight: bold;
}

main .buttons-container {
    display: flex;
    align-items: center;
    gap: 16px;
    
}